<p style='text-align: center; margin: 20px;'>Hey <%= @user.first_name %>! &#128075;</p>

<p style='text-align: center; margin: 20px;'>Welcome to the Quick Favor Club!</p>

<p style='text-align: center; margin: 20px;'>Your account has been verified, and accessible via <%= link_to "our website", "https://quick-favor-club.herokuapp.com/users/sign_in" %>. Go ahead and sign in using your email and password. On our platform, you will be able to:
<ul style='margin: 20px;'>
  <li>Request favors and view existing favors</li>
  <li>Connect with members of our community</li>
  <li>Refer a friend to join the club</li>
</ul>

<p style='text-align: center; margin: 20px;'>If you have any questions or concerns, feel free to drop a note to this email.</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
