<p style='text-align: center; margin: 20px;'>Hey <%= @user.first_name %>! &#128075;</p>

<p style='text-align: center; margin: 20px;'>Thanks for signing up for the Quick Favor Club - we're excited to have you join and contribute to our community of do'ers!</p>

<p style='text-align: center; margin: 20px;'>Sit tight - your account is being verified. Once that's done, the account will be activated and you'll be granted full access to the club! &#128522;</p>

<p style='text-align: center; margin: 20px;'>Cheers,</p>

<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
