<div class="banner">
  <h5 class="text-center mb-0">Welcome to the</h5>
  <h1 class="text-center mb-4"><strong>Quick Favor Club</strong></h1>


  <h5 class="my-1 text-center">We’re a close community of passionate do’ers looking to help each other out with quick favors!</h5>


  <div class="center my-5">
    <div>
     <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
     <%= link_to "Join Us", join_path, class: "btn btn-primary ml-1"  %>
    </div>
  </div>

  <p class="mt-4 mb-1 text-center quote-tag"><i>“If we create networks with the sole intention of getting something, we won’t succeed. We can’t pursue the benefits of networks; the benefits ensue from investments in meaningful activities and relationships.”</i><br><br>Adam Grant, Give and Take</p>
</div>
