<p style='text-align: center; margin: 20px;'>Hey <%= @referral.first_name %>!</p>
<p style='margin: 20px;'>Your buddy <strong><%= @referral.user.full_name %></strong> has invited you to be part of the Quick Favor Club!</p>
<p style='margin: 20px;'>We’re a close community of passionate do’ers looking to help each other out with quick favors!</p>
<p style='margin: 20px;'>To join us, please sign up at <%= link_to "this link", "https://quick-favor-club.herokuapp.com/users/sign_up" %> and be sure to list <strong><%= @referral.user.full_name %></strong> as your referrer. &#128522;</p>
<p style='margin: 20px;'>If you have any trouble, feel free to reply to this email with any questions or concerns.</p>
<p style='margin: 20px;'>We're excited to have you be part of our community!</p>
<p style='text-align: center; margin: 20px;'>Cheers,</p>
<p style='text-align: center; margin: 20px;'>The Quick Favor Team</p>
