<p style='text-align: center; margin: 20px;'>Hey team!</p>

<p style='text-align: center; margin: 20px;'>We have a new referral submission! &#128588;</p>
<p style='text-align: center; margin: 20px;'><strong><%= @referral.user.full_name %></strong> invited <strong><%= @referral.full_name %></strong> (<%= @referral.email %>).</p>
<p style='text-align: center; margin: 0 20px;'>An email invitation has been sent!</p>
