<p>Hey team,</p>
<br>
<p>We have a new referral submission!</p>
<br>
<p><strong><%= @referral.user.full_name %></strong> invited <strong><%= @referral.full_name %></strong> (<%= @referral.email %>).</p>
<p>An email invitation has been sent!</p>
