<h5 class="text-center mb-0">Welcome to the</h5>
<h1 class="text-center mb-4"><strong>Quick Favor Club</strong></h1>


<h4 class="mb-3 text-center"><strong>&#128640; Our Mission &#128640;</strong></h4>

<p class="my-1 text-center">We’re a close community of passionate do’ers looking to help each other out with quick favors!</p>

<h4 class="mt-4 mb-3 text-center"><strong>Ground Rules</strong></h4>

<ul>
  <li>Reciprocation is a core value to us - please aim to complete favors for others &#127867;</li>
  <li>Any favors should be quick to fulfill & can be done from a computer or mobile device</li>
  <li>We want to minimize spam and &#129324;. If someone just posted a favor, please wait one day before submitting a new request</li>
  <li>Please don’t share any job listings here &#128581;; you can, however, request introductions to potential candidates</li>
  <li>Lastly, to protect the privacy of our members, we do not share contact info beyond your LinkedIn (should you choose to provide it). <% if user_signed_in? %>
    If you'd like an introduction, shoot us a message <%= link_to "here", contact_path %>, and we'll connect you offline &#128521;
    <% end %></li>
</ul>
