<h1>Welcome to the Quick Favor Collective!</h1>

<p>We’re a close community of passionate do’ers looking to help each other out with quick favors!</p>

<%= link_to "Login", new_user_session_path %>
<%= link_to "Join Us", new_user_registration_path %>
