<h5 class="text-center mb-0">Welcome to the</h5>
<h1 class="text-center mb-4"><strong>Quick Favor Collective!</strong></h1>

<h5 class="my-1 text-center">We’re a close community of passionate do’ers looking to help each other out with quick favors!</h5>
<p class="text-center"><%= link_to "Learn more", about_path %></p>

<div class="center my-5">
  <div>
   <%= link_to "Login", new_user_session_path, class: "btn btn-primary mr-2" %>
   <%= link_to "Join Us", join_path, class: "btn btn-primary"  %>
  </div>
</div>
