<h3 class="mb-4 text-center">&#128075; Hey there! &#128075;</h3>

<p class="text-center">The Quick Favor Collective is an invite-only community - we rely on our existing members to bring in new members who will embrace and contribute to the spirit of the collective.</p>

<p class="text-center">That being said, if you are keen to join, but don't currently have contacts within our community, we'd love to get to know you! Contact us <%= link_to "here", contact_path %>, and we'll reach out for a chat. &#128522;</p>

<%= link_to "< back", :back %>
