<h3 class="mb-4 text-center">Hey there!</h3>

<p class="text-center">The Quick Favor Collective runs as an invite-only community - we rely on our existing members to bring in new members who will embrace and contribute to the spirit of the collective.</p>

<p class="text-center">That being said, if you are keen to join, but don't currently have contacts within the collective, we'd love to get to know you! Feel free to shoot an email to <u>thom.john.eng@gmail.com</u>, and we'll reach out for a chat. &#128522;</p>

<%= link_to "< back", :back %>
