<h2 class="mb-4 text-center">&#128232; Invite sent! &#128232;</h2>

<p class="text-center"><%= @referral.full_name %> will be receiving an invite in no time. Thanks for helping to grow our community!</p>

<%= link_to "< see all members", users_path %>
