.container {
  margin: 85px auto;
  margin-bottom: 100px;
}

.favor-container {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px #888888;
}

.favor-container p {
  margin: 8px;
}

.profile-container {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px #888888;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
