.container {
  margin: 80px auto;
  margin-bottom: 100px;
}

.favor-container {
  padding: 8px;
  border-bottom: .5px solid gray;
}

.favor-container p {
  margin: 4px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
