.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 2px #888888;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-navbar {
  justify-content: space-between;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 0 2px #888888;
  z-index: 9999;
}
