.new-tag {
  font-size: 12px;
  padding: 2px 8px;
  height: 24px;
  background-color: $orange;
  border-radius: 4px;
  color: white;
  margin: 0px;
}

.city-industry-tag {
  font-size: 12px;
}

.quote-tag {
  font-size: 14px;
  margin: 24px;
  background: white;
  padding: 16px;
  border-radius: 4px;
}
