.new-tag {
  font-size: 12px;
  padding: 2px 8px;
  height: 24px;
  background-color: $orange;
  border-radius: 4px;
  color: white;
  margin: 0px;
}

.city-industry-tag {
  font-size: 12px;
  padding: 2px 8px;
  background-color: $light-blue;
  border-radius: 4px;
  color: $gray;
  margin-right: 4px;
}

.tags {
  word-wrap: break-word;
}
